#aa {
    color: brown;
}

#bb {
    color: chocolate;
}

#cc {
    color: aqua;
}

#dd {
    color: blueviolet;
}

#ee {
    color: cornflowerblue;
}

#ff {
    color: darkblue;
}

#gg {
    color: dimgrey;
}

#a {
    background-color:white
}

#b {
    color: navy;
}

#c {
    color: navy;
}

#d {
    color:aqua;
}
#e {
    color:chocolate;
}

#f {
    color:crimson;
}

.a {
    color:violet;
}

.b {
    color:springgreen;
}

.c {
    color:tomato;
}

.d {
    color:saddlebrown;
}

h1 {
    color: blue;
    background-color:lightblue;
}

h3 {
    color:lightcoral;
}

h2 {
    color:indigo;
}

h4 {
    color:teal;
}